[submodule "server"]
	path = server
	url = git@github.com:blancout/new-react-admin/server/.git/
[submodule "admin-demo"]
	path = admin-demo
	url = git@github.com:blancout/new-react-admin/admin-demo/.git/
